## This content is duplicated here from configs/config_designers.yml because I'm building this site through Github Pages, and Github Pages just looks for the _config.yml file in the root directory to create the build.
# project definitions
project: doc_designers
audience: designers
product: all
platform: all
version: all
destination: ../linuxmint-cinnamon
topnav_title: Linux Mint и его Cinnamon
homepage_title: Linux Mint и его Cinnamon
site_title: Linux Mint и его Cinnamon (Алексей Alv Федорчук)
# disqus_shortname: idrbwjekyll
# google_analytics: UA-66296557-1

# variables

sidebar_tagline: Linux&nbsp;Mint Cinnamon
sidebar_version: version 17.1 (Rebecca)

port: 4003

exclude:
  - doc_writers*
  - configs/
  - _site
  - doc_multi*
  - ru/17-1-Rebecca/source/

# same for all
host: 127.0.0.1
feedback_email: nemilya@gmail.com
sidebar_accordion: true
markdown: redcarpet
print: false
theme_file: theme-green.css
# index: 00_annotation.md
# only use suffix if you need to force index.html to display
# suffix: index.html

redcarpet:
  extensions: ["no_intra_emphasis", "fenced_code_blocks", "tables", "with_toc_data"]

highlighter: pygments

collections:
  tooltips:
    output: true

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      comments: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true