<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </head>

<body>
  {% include topnav.html %}

  <!-- Page Content -->
  <div class="container">
    <div class="col-lg-12">&nbsp;</div>
    {% if page.homepage == true %}
      {% include main_sidebar.html %}
    {% else %}
      {% include sidebar.html %}
    {% endif %}
    <!-- Content Column -->
    <div class="col-md-9">
      {{content}}
    </div><!-- /.row -->
  </div>    <!-- /.container -->
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
